
.imageContacto {
    float: left;
}

.formularioTitle {
    color: #ffffff;
    background-color: #333333;
    font-size: 250%;
    font-weight: 400;
    text-align: center;
}

.formulario h3 {
    font-size: 200%;
    font-weight: 900;
    text-align: center;
}

.formularioContenido {
    text-align: center;
}

.formularioContenido div p {
    font-size: 150%;
}

.formularioContenido div label {
    font-size: 150%;
}

/*---------------HORARIO-------------*/
.horariosTitle {
    color: #ffffff;
    background-color: #333333;
    font-size: 250%;
    font-weight: 400;
    text-align: center;
}

.horariosContenido {
    color: #575756;
    font-size: 200%;
    text-align: center;
}