
.errorContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    img{
        margin-top: 5rem;
        width: 15%;
    }
    p{
        font-size: 250%;
    }
    a{
        text-decoration: none;
        h2{
            margin: 2rem;
            padding: 1rem;
            background-color: #0f9932;
            color: white;
            border-radius: 10%;
        }
    
    }
    
}


